*{
    cursor: url("Images/cursor img.png"),auto;
}                 
.hero {

    display: flex;
    background-image: linear-gradient(to bottom right,#000000,#2d2a25,#995525,#44250d);
    /* background-color: rgb(53, 66, 50); */
    /* background-image: linear-gradient(); */
    
    color: #ffffff;
    
    height: 92vh;
    
    padding-inline: 30px;
    
    }
    
    
    .hero-content {
    
    flex: 1;
    
    display: flex;
    
    flex-direction: column;
    
    justify-content: center;
    
    padding: 20px;
    
    }
    .hero-text {
    
    font-size: 3rem;
    font-family:'Times New Roman', Times, serif;
    
    margin-bottom: 10px;
    
    
    }
    
    .hero-description {
    
    font-size: 1.2rem;
    font-family: serif;
    
    max-width: 400px;
    
    margin-bottom: 20px;
    
    }
    
   
     .hero-image {
        flex: 1;
        background: url('Images/home page.png') center;
        position: relative;
        overflow: hidden;
        background-size: 90%;
        background-repeat: no-repeat;
        filter: brightness(80%);
        
    }
    
    .hero-image:hover {
       
        filter: brightness(105%);
        
        opacity: 0.9; 
    }
    
    
   

    